@import "../index.scss";

.blogShield {
  width: 55%;
  height: 350px;
  display: flex;
  margin: 10px;

  font-family: $main-text;
  color: $blog-text-color;
  background: radial-gradient(
                  circle,
                  rgb(100, 50, 125) 0%,
                  rgb(175, 115, 200) 100%
  );
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}

.blogShield:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 1);
  background: radial-gradient(
                  circle,
                  rgb(175, 50, 125) 0%,
                  rgb(255, 100, 125) 100%
  );
}

.blogShield a,
.blogShield p {
  text-decoration: none;
  color: $blog-text-color;
  margin: 0;
  padding: 10px 0;
}

.blogShield a:hover {
  color: $first-theme;
}

.picContain {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.blogPic {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.info {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px;
}

.datePost,
.statistic,
.footerBlog {
  font-family: $head-text;
}

.datePost,
.authorPost {
  font-weight: 700;
}

.headerPost {
  display: inherit;
  align-items: flex-start;
  justify-content: space-between;
}

.datePost {
  width: 50%;
}

.statistic {
  width: 45%;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.textPost {
  max-width: 100%;
  display: inherit;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.headPost {
  max-width: 100%;
  font-size: xx-large;
  font-weight: 800;
  word-wrap: break-word;
  line-height: 1;
}

.descriptionPost {
  font-size: large;
  font-weight: 500;
  line-height: 1;
  word-wrap: break-word;
}
