.blogPage {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;

  color: var(--main-text-color);
}

.blogItem {
  padding: 0 15px 10px;
  margin: 15px;
  background-color: var(--component-bg);
  border-radius: 5px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 15px;
  font-weight: lighter;
}

.header {
  margin: 0 0 10px;
}

.textItem {
  text-align: justify;
  font-size: 18px;
  line-height: 22px;
}

.textItem::first-letter {
  margin-left: 25px;
}

.imageItem {
  margin: 15px 0;
  width: 100%;
  border-radius: 5px;
}

.blogFooter {
  display: flex;
  justify-content:space-between;
  align-items: center;
  font-size: 20px;
  font-weight: lighter;
}

.blogFooter button {
  margin: 2px 5px;
  padding: 5px;
  font-size: 16px;
  font-weight: lighter;

  border-radius: 5px;
}
