.newPost {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 75%;
}

.newPost input,
.newPost textarea {
  margin: 5px 0 5px 0;
  padding: 10px;

  font-family: Verdana, Tahoma, sans-serif;
  font-size: 14px;
  background-color: var(--component-bg);
  color: var(--main-text-color);

  border-radius: 5px;
  border: none;
  resize: none;
  outline: none;
}

.newPost textarea {
  height: 250px;
}

.newPost button {
  margin: 5px auto;
  padding: 5px 10px;
}

.addButtons {
  display: flex;
  margin: 0 auto;
}

.addButtons button {
  margin: 0 5px;
}
