@import "../index.scss";

.buttonTemp {
  padding: 10px 25px 10px 25px;
  border-radius: 5px;

  font-family: $head-text;
  font-size: 16px;
  color: $first-theme;
  background-color: $component-bg;
  box-shadow: 3px 3px 3px black;

  cursor: pointer;
  outline: none;
  border: none;
}

.buttonTemp:active {
  background-color: $window-bg;
}
