.authPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  margin: auto;
  margin-top: 50px;
  border-radius: 25px;

  background-color: rgb(20, 20, 20);
}

.inputs {
  width: 90%;
  margin-top: 25px;
}

.authPage input {
  width: 100%;
  height: 50px;
  margin: 5px 0 5px 0;
  border: none;
  border-radius: 10px;

  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: rgb(20, 20, 20);
}

.forgotPass {
  align-self: flex-start;
  padding: 0 0 0 35px;
  font-size: 16px;

  color: rgb(150, 150, 150);
  background-color: rgb(20, 20, 20);

  cursor: pointer;
  outline: none;
  border: none;
}

.forgotPass:hover {
  color: rgb(200, 200, 200);

  text-decoration: underline;
}

.MainButton {
  margin-top: 25px;
  padding: 10px 25px 10px 25px;
  border-radius: 15px;

  font-size: 20px;
  font-weight: bold;
  color: rgb(20, 20, 20);
  background-color: rgb(255, 255, 255);

  cursor: pointer;
  outline: none;
  border: none;
}

.MainButton:hover {
  color: rgb(20, 20, 20);
  background-color: rgb(50, 50, 50);

  text-decoration: none;
}

.SecondButton {
  margin: 25px 0 25px;
  padding: 10px 25px 10px 25px;
  border-radius: 15px;

  font-size: 16px;
  color: rgb(20, 20, 20);
  background-color: rgb(100, 100, 100);

  cursor: pointer;
  outline: none;
  border: none;
}

.SecondButton:hover {
  color: rgb(20, 20, 20);
  background-color: rgb(200, 200, 200);

  text-decoration: none;
}
