.inputForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;

  margin: auto;
  margin-top: 50px;
  padding: 15px;

  border-radius: 25px;
  background-color: rgb(20, 20, 20);
}

.inputForm textarea {
  width: 100%;
  height: 100px;
  border: none;

  font-size: 16px;
  background-color: rgb(20, 20, 20);

  resize: none;
  outline: none;
}

.inputForm button {
  align-self: flex-end;
  padding: 10px 25px 10px 25px;
  border-radius: 15px;
  border: none;

  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: rgb(30, 30, 30);

  cursor: pointer;
  outline: none;
}

.inputForm button:active {
  background-color: rgb(10, 10, 10);
}

.chatMessage {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 45%;

  margin: 15px auto;
  padding: 15px;
  border-radius: 15px;

  color: rgb(255, 255, 255);
  background-color: rgb(20, 20, 20);
}

.username {
  align-self: flex-start;
  margin: 0 5px 5px 5px;

  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.message {
  align-self: flex-start;
  margin: 0 5px 5px 5px;

  font-size: 16px;
  color: rgb(200, 200, 200);
}

.headMessage {
  display: flex;
  justify-content: space-between;
}

.basementMessage {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;


  font-size: 14px;
  font-weight: lighter;
}

.deleteMessage {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;  
}

.likes {
  border-radius: 30%;

  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: rgb(20, 20, 20);

  cursor: pointer;
  border: none;
  outline: none;
}
