.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 25px 0 25px;

  background-color: rgb(20, 20, 20);

  text-decoration: none;
}

.header h2,
a {
  align-self: center;

  color: rgb(255, 255, 255);

  text-decoration: none;
}

.navBar {
  display: flex;
  flex-direction: row;
}

.navBar a:hover {
  font-weight: bold;
}

.loginButton:hover {
  text-decoration: underline;
}

.header button {
  border: none;

  font-size: 20px;
  color: rgb(255, 255, 255);

  cursor: pointer;
  background: none;
}
