.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 25px 0 25px;

  background-color: var(--component-bg);

  text-decoration: none;
}

.header h2,
a {
  align-self: center;

  color: var(--main-text-color);

  text-decoration: none;
}

.navBar {
  display: flex;
  flex-direction: row;
}

.navBar a:hover {
  font-weight: bold;
}

.loginButton:hover {
  text-decoration: underline;
}

.header button {
  padding: 10px 20px;
  margin: 5px;

  font-size: 14px;
  color: var(--component-bg);
  background-color: rgb(250, 250, 250);

  cursor: pointer;
  border: none;
  
  border-radius: 5px;
  box-shadow: var(--window-bg);
}

.header button:active {
  background-color: rgb(150, 150, 150);
}

.headerIsAuth {
  align-self: center;
  align-content: flex-end;
}
