.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 25px 0 25px;

  background-color: var(--component-bg);

  text-decoration: none;
}

.header h2,
a {
  align-self: center;

  color: var(--main-text-color);

  text-decoration: none;
}

.navBar {
  display: flex;
  flex-direction: row;
}

.navBar a:hover {
  font-weight: bold;
}

.loginButton:hover {
  text-decoration: underline;
}

.header button {
  border: none;

  font-size: 20px;
  color: var(--main-text-color);

  cursor: pointer;
  background: none;
}
