:root {
  --component-bg: rgb(20, 20, 20);
  --window-bg: rgb(30, 30, 30);

  --button-main-bg: rgb(255, 255, 255);
  --button-active-bg: rgb(150, 150, 150);

  --main-text-color: rgb(255, 255, 255);
  --message-color: rgb(200, 200, 200);
}
