.messageHistory {
  margin: 5px 0;
  height: 31vw;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.messageHistory::-webkit-scrollbar {
  width: 10px;
  background-color: var(--window-bg);
}

.messageHistory::-webkit-scrollbar-thumb {
  background: var(--component-bg);
}

.chatMessage {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 45%;

  margin: 15px auto;
  padding: 15px;
  border-radius: 15px;

  color: var(--main-text-color);
  background-color: var(--component-bg);
}

.chatMessage:last-child {
  background-color: green;
}

.username {
  align-self: flex-start;
  margin: 0 5px 5px 5px;
  font-size: 20px;
  font-weight: bold;
  color: var(--main-text-color);
}

.message {
  display: inline;  
  width: 100%;
  align-self: flex-start;
  margin: 0 5px 5px 5px;

  white-space: break-spaces;
  word-wrap: break-word;
  font-size: 16px;
  color: var(--message-color);
}

.headMessage {
  display: flex;
  justify-content: space-between;
}

.basementMessage {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;

  font-size: 14px;
  font-weight: lighter;
}

.deleteMessage {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.likes {
  border-radius: 30%;

  font-size: 14px;
  color: var(--main-text-color);
  background-color: var(--component-bg);

  cursor: pointer;
  border: none;
  outline: none;
}
