.messageHistory {
  margin: 5px 0;
  height: 33vw;
  overflow-y: scroll;
}

.chatMessage {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 45%;

  margin: 15px auto;
  padding: 15px;
  border-radius: 15px;

  color: rgb(255, 255, 255);
  background-color: rgb(20, 20, 20);
}

.username {
  align-self: flex-start;
  margin: 0 5px 5px 5px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.message {
  display: block;
  width: 100%;
  align-self: flex-start;
  margin: 0 5px 5px 5px;

  white-space: pre;
  word-wrap: break-word;
  font-size: 16px;
  color: rgb(200, 200, 200);
}

.headMessage {
  display: flex;
  justify-content: space-between;
}

.basementMessage {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;

  font-size: 14px;
  font-weight: lighter;
}

.deleteMessage {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.likes {
  border-radius: 30%;

  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: rgb(20, 20, 20);

  cursor: pointer;
  border: none;
  outline: none;
}
